<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857008698478-6bhro43tnihn0n9i80g012o3712fohfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857008698478-6bhro43tnihn0n9i80g012o3712fohfd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857008698478-cif3vrp4ki0kr34g6m9q6urspvre2qc6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACmgTwhPWgbrJWxsOK9m_qTgyoXHq5VfA</string>
	<key>GCM_SENDER_ID</key>
	<string>857008698478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evs.app.ios.vedanta</string>
	<key>PROJECT_ID</key>
	<string>vedantavision-b7643</string>
	<key>STORAGE_BUCKET</key>
	<string>vedantavision-b7643.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857008698478:ios:aab78d918e4f2800fee27f</string>
</dict>
</plist>