<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667327318779-ho3tgq7vhdp305tfu8s2pd1sfpt0v7tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667327318779-ho3tgq7vhdp305tfu8s2pd1sfpt0v7tc</string>
	<key>API_KEY</key>
	<string>AIzaSyCgGmP9X5dWA_YfyIzM089h8rrMt_0yS30</string>
	<key>GCM_SENDER_ID</key>
	<string>667327318779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evs.app.ios.vedanta</string>
	<key>PROJECT_ID</key>
	<string>official-console</string>
	<key>STORAGE_BUCKET</key>
	<string>official-console.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667327318779:ios:d7c1a213b9c7cd2a907e5e</string>
</dict>
</plist>