<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70327184795-qc7iq3gcc7dlds0g6rmqcck5uhd6srst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70327184795-qc7iq3gcc7dlds0g6rmqcck5uhd6srst</string>
	<key>API_KEY</key>
	<string>AIzaSyA9nUDOK3HMd76OazB9809kVLKhfZMgijM</string>
	<key>GCM_SENDER_ID</key>
	<string>70327184795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vedanta-vision.prod</string>
	<key>PROJECT_ID</key>
	<string>vedanta-vision</string>
	<key>STORAGE_BUCKET</key>
	<string>vedanta-vision.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70327184795:ios:271c7d703e25e2de6ac53e</string>
</dict>
</plist>